[submodule "Pointcept"]
	path = Pointcept
	url = https://github.com/aka-lowe/Pointcept.git
[submodule "externals/Mask3D"]
	path = externals/Mask3D
	url = https://github.com/JonasSchult/Mask3D.git
[submodule "externals/sonata"]
	path = externals/sonata
	url = https://github.com/facebookresearch/sonata.git
