[submodule "src/ScanNet/Pointcept"]
	path = src/ScanNet/Pointcept
	url = git@github.com:aka-lowe/Pointcept.git
[submodule "Pointcept"]
	path = Pointcept
	url = https://github.com/Pointcept/Pointcept.git
